## Load dữ liệu từ file CSV

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [4]:
df = pd.read_csv("/content/50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

## Chuyển đổi các đặc trưng dạng phân loại sang dạng số

In [13]:
from sklearn.preprocessing import LabelEncoder 
cdf = df
cdf['State'] = LabelEncoder().fit_transform(df[['State']])
cdf.head()

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

## Chia tập dữ liệu thành 2 phần train và test theo tỉ lệ 8:2

In [16]:
msk = np.random.rand(len(df)) < 0.8
train = cdf[msk]
test = cdf[~msk]

## Tạo mô hình Linear Regression với sklearn và huấn luyện trên dữ liệu train

In [17]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
x_train = np.asanyarray(train[['R&D Spend','Administration','Marketing Spend', 'State']])
y_train = np.asanyarray(train[['Profit']])
regr.fit (x_train, y_train)
# The coefficients
print ('Coefficients: ', regr.coef_)

Coefficients:  [[ 7.83383015e-01 -1.00801431e-02  2.39327218e-02  1.81812261e+02]]

In [18]:
x_test = np.asanyarray(test[['R&D Spend','Administration','Marketing Spend', 'State']])
y_test = np.asanyarray(test[['Profit']])
y_pred = regr.predict(x_test)

## Đánh giá hiệu quả của mô hình trên cả 2 tập train và test

In [26]:
from sklearn.metrics import r2_score

print("R2 score on test dataset: %.2f" % r2_score(y_pred, y_test))
print("R2 score on train set: %.2f" % r2_score(y_train, regr.predict(x_train)))

R2 score on test dataset: 0.85
R2 score on train set: 0.97